body {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1em;
  background: url(paper.jpeg) no-repeat center center fixed;
  background-size: cover;
  background-position: 0 -125px;
  margin: 0;
  padding: 40px 0 0 0;
  font-family: 'Montserrat', sans-serif;
}

input {
  box-sizing: border-box;
  width: 80%;
  margin-right: 5px;
  border-radius: .25rem !important;
}

h1 {
  margin: 65px 0 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

#add {
  margin-right: 5px;
}

#add, #clear {
  border-radius: .25rem !important;
}

#add:hover, #clear:hover {
  background-color: #6c757d !important;
}

.deletebutton {
  border-color: white;
  padding: 0;
  height: 25px;
  width: 25px;
  visibility: hidden;
}

.deletebutton:hover {
  color: #6c757d;
}

.edit {
  border-color: transparent;
  height: 40px;
}

.edit:focus-visible {
  outline: transparent auto 1px;
}

.show {
  visibility: visible;
}

.inline {
  display: flex;
  justify-content: space-between;
}

.width {
  width: 15%;
}

.margin {
  margin: auto;
}

.done {
  text-decoration: line-through;
}

.itemdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}

@media only screen and (max-width: 1024px) {
 /* .width {
    width: 30%;
  }*/

  body {
 /*   font-size: 2em;*/
 background-size: auto 1750px;
 background-position: -775px -300px;
  }
}

@media only screen and (max-width: 768px) {
   /*.width {
    width: 35%;
  }*/

   body {
   /* font-size: 1em;*/
   background-size: auto;
   background-position: -550px -200px;
  }
}

@media only screen and (max-width: 415px) {
/*  .width {
    width: 55%;
  }*/

  body {
  /*  font-size: 1em;*/
  background-size: auto;
  background-position: -625px -200px;
  }
}

/*@media only screen and (max-width: 285px) {
  .width {
    width: 65%;
  }
}*/